.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
.products_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
