.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
.container h1 {
  font-weight: 100;
  margin: 8vw 0;
}
.container_list {

}
.container_list ul {
  padding-left: 12px;
}
.container_list ul li {
  margin: 10px;
}
